<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCC.Properties.Settings.projetoConnectionString" connectionString="Data Source=DESKTOP-MMI0VKE;Initial Catalog=projeto;User ID=sa;Password=17A49JB681AZZ" providerName="System.Data.SqlClient"/>
        <add name="TCC.Properties.Settings.TCCConnectionString" connectionString="Data Source=DESKTOP-MMI0VKE;Initial Catalog=TCC;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="TCC.Properties.Settings.TCCConnectionString1" connectionString="Data Source=localhost;Initial Catalog=TCC;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="TCC.Properties.Settings.TCCCONEXAO" connectionString="Data Source=localhost;Initial Catalog=TCC;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="TCC.Properties.Settings.TCC1ConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=TCC1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
